* {
	box-sizing: border-box;
}

.inputs {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0 20px 0;
}
.tableArrows {
	display: flex;
	gap: 20px;
	margin: 15px auto 0 auto;
	max-width: 100px;
	justify-content: center;
}
.tableArrows svg {
	cursor: pointer;
	font-size: 34px;
}
